# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
build/
dist/

.pdm-python

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml

# Environments
.venv
.*cache*

.vscode
